body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;

  * {
    margin: 0.25rem;
    padding: 0.25rem;
  }
}
